<html>
<head>
    <link rel="stylesheet" type="text/css"
        href="blueprintcss/typography.css"/>
    <link rel="stylesheet" type="text/css"
        href="blueprintcss/grid.css"/>
    <title>R&eacute;sum&eacute;s of Hacker Society Members</title>
</head>
<body>
    <div class="container" id="main">
        <h1 id="title">R&eacute;sum&eacute;s of Hacker Society Members</h1>
        <h3>This page is also a <a href="http://www.github.com/hacsoc/resumes">Git repository</a></h3>
        <div class="span-5 colborder" id="sidebar">
            {% for tags in tag_lists %}
                {% for tag in tags %}
                    <a href="#{{sanitized_tags[tag]}}">{{tag}}</a><br/>
                {% endfor %}
                {% if not loop.last %}<br/><hr/>{% endif %}
            {% endfor %}
        </div>
        <div class="span-18 last" id="content">
            {% for p in people %}
                <h3>
                    <a name={{sanitized_names[p.name]}}
                       href="mailto:{{p.email}}">
                       {{p.name}}
                   </a>
                </h3>
                Major: {{p.major}}<br/>
                Tags: {{p.tags}}<br/>
                <a href="{{p.url}}">R&eacute;sum&eacute;</a><br/>
            {% endfor %}
            <br/><hr/>

            {% for tag in all_tags %}
                <h3><a name="{{sanitized_tags[tag]}}" style="color: black; text-decoration: none;">{{tag}}</a></h3>
                {% for p in tag_people[tag] %}
                <a href="#{{sanitized_names[p.name]}}">{{p.name}}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endfor %}

            <br/><br/>
            Steve Johnson put this page together this year, but you can't hire him because he's got a job already ;-)
        </div>
    </div>
</body></html>
